.HomePage{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 100px;
    width: 500px;
    margin-left: 380px;
    color: black;
}

.button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

.profilebtn{
    margin:10px;
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
}

.profile>p{
    font-weight: bolder;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 100px;
    width: 500px;
    margin-left: 380px;
    color: black;
    padding: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 100px;
    width: 500px;
    margin-left: 380px;
    color: black;
    padding: 20px;
}