.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(138, 110, 110);
    border-radius: 1rem;
    gap: 1rem;
}

.Post>img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.PostReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.ReactButton{
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0.5rem;
    background: salmon;
    transition: all 100ms ease-out;
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}